
/*네비게이션 스크롤*/
* { box-sizing: border-box;}

.navbar {
    position: fixed;
    z-index: 999;
    top: 40%;
    right: 50px;
    transform: translate(-50%);
}
.navbar .nav-menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar .nav-menu li{
    position: relative;
    text-align: right;
}
.navbar .nav-menu li .dot {
    display: block;
    color: #fff;
    padding: 20px 20px;
}
.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after {
     display: block;
     position: absolute;
     content: '';
     border-radius: 50%;
     top: 50%;
     transition: all 1s ease;
}
.navbar .nav-menu li .dot::before {
    width: 5px;
    height: 5px;
    right: 0;
    border: 2px solid #ffffff;
    transform: translateY(-50%);
}
.navbar .nav-menu li .dot::after {
    width: 15px;
    height: 15px;
    border: 2px solid #2f6b45;
    right: -5px;
    transform: translateY(-50%) scale(0);
}
.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before {
    background: #2f6b45;
    border-color: #2f6b45;
}
.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {
    transform: translateY(-50%) scale(1);
}
.navbar .nav-menu li .dot span{
    display: inline-block;
    opacity: 0;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: capitalize;
    background-color: f44336;
    padding: 10px 20px;
    border-radius: 3px;
    margin-right: 30px;
    transform: translateX(20px);
    transition: all .1s ease
}
.navbar .nav-menu li .dot span::before{
    display: block;
    position: absolute;
    content: '';
    border-left: 7px solid #2f6b45;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 50%;
    transform: translate(7px, -50%);
    right: 0;
    transition: all .1s ease;
}
.navbar .nav-menu li .dot.active span,
.navbar .nav-menu li:hover .dot span {
    transform: translateX(0)
    opacity: 1;
}
/*네비게이션 css 끝*/

html{
    font-family: Noto Serif KR, serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

h1, h2, p{
    color:lightgrey;
    word-break: keep-all
}

h1{
    font-size : 3em;
}

p{
    width: 800px;
    font-size: 1.2em;
    line-height: 1.6;
    word-spacing: 0.9;
    margin-top: 50px;
    clear: both;
}

.one{
    width: 1200px;
    margin: auto;
    padding-top: 100px;   
}

.intro{
    background: url(../img/title.png);
    background-color: #1a1a1a;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
}

.intro_one{
    width: 1200px;
    margin: auto;
    padding-top: 600px;   
}

.intro img{
    margin-left: 100px;
    width: 500px;
}

.intro h1{
    text-shadow: 5px 5px 5px #0e0e0e;
}

.logo{
    float: right;
    margin-top: 400px;
    margin-bottom: 200px;
}

.logo h1{
    font-size: 3em;
    text-align: right;
}

.scene{
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 1000px;
}

.scene img{
    width: 1000px;
}

.scene p{
    margin-left: 100px;
    margin-top: 20px;
    width: 800px;
}



/*살인의 추억*/

.murder{
    background-color: #2E2B1D;
}

.murder_grad{
    height: 500px;
    margin-bottom: -500px;
    background: linear-gradient( to bottom, #1a1a1a, #2e2b1d);
}

.murder_1{
    position: relative;
    top: 100px;
    right: 50px;
    width: 800px;
    height: auto;
    margin-top: 200px;
    transform: rotate(-10deg);
}

.murder_logo{
    width: 700px;
}

.murder_3{
    position: relative;
    bottom: 150px;
    left:;
    width: 800px;
    height: auto;
    margin-top: 400px;
    margin-bottom: 200px;
    animation : 1s murder_3 ;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes murder_3{
    from{opacity:1}
    to{opacity: 0;}
}

.murder_4{
    position: relative;
    bottom: 900px;
    left:;
    width: 800px;
    height: auto;
    transform: rotate(10deg);
    animation : 1s murder_4 ;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes murder_4{
    from{opacity:0}
    to{opacity: 1;}
}

/*살인의 추억 끝*/

/*괴물*/

.monster{
    background-color: #3E4A42;
}

.monster_grad{
    height: 500px;
    margin-bottom: -500px;
    background: linear-gradient( to bottom, #2e2b1d, #3E4A42);
}

.monster_1{
    position: relative;
    top: px;
    right: 50px;
    width: 700px;
    height: auto;
    transform: rotate(-10deg);
}

.monster .logo{
    margin-top: 800px
}

.monster_logo{
    width: 300px;
    float: right;
    margin-top: 20px;
}

.monster_3{
    position: relative;
    width: 163%;
    margin-top: 80px;
    left: -400px;
    bottom: -80px
}
/*괴물 끝*/

/*설국열차*/

.snow{
    background-color: #3D4251;
}

.snow_grad{
    height: 500px;
    margin-bottom: -500px;
    background: linear-gradient( to bottom, #3E4A42, #3D4251);
}

.snow .logo{
    margin-top: 600px
}

.snow_1{
    position: relative;
    top: 150px;
    left: 100px;
    width: 300px;
    height: auto;
    animation: 5s wilford ease;
    animation-iteration-count: infinite;
}

@keyframes wilford {
    from{
        transform:none
    }
    to{
        transform: rotate(1turn)
    }
}

.snow_logo{
    width: 700px;
    float: right;
    margin-top: 20px;
}

.snow_3{
    position: relative;
    width: 700px;
    margin-top: 80px;
    left: 450px;
    bottom: -80px;
    transform: rotate(-10deg);
}
/*설국열차 끝*/

/*옥자*/

.okja{
    background-color: #4F4252;
}

.okja_grad{
    height: 500px;
    margin-bottom: -500px;
    background: linear-gradient( to bottom, #3D4251, #4F4252);
}

.okja_1{
    position: relative;
    top: -30px;
    left: 120px;
    width: 700px;
    height: auto;
    transform: rotate(-10deg);
}

.okja_logo{
    width: 300px;
    float: right;
    margin-top: 20px;
}

.okja .logo{
    margin-top: 600px;
}

.okja_3{
    position: relative;
    width: 800px;
    top: 200px;
    left: 50px;
    margin: auto;
    animation : 3s okja_3;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes okja_3{
    from{
        transform: rotate(-15deg);
        left : -200px
    }
    to{
        transform: rotate(15deg);
        left : 600px;
    }
}
/*옥자 끝*/

/*기생충*/

.parasite{
    background-color: #1a1a1a;
}

.parasite_grad{
    height: 500px;
    margin-bottom: -500px;
    background: linear-gradient( to bottom, #4F4252, #1a1a1a);
}

/*기생충 끝*/